/**Responsive*/
.navbar-toggler {
    padding: 0.25rem 0.4rem;
    font-size: 20px;
}
.navbar-toggler-icon{
    filter: invert(1);
    width: 1.2em;
height: 1.2em;
}
@media only screen and (min-width: 992px){
    .modal-view .modal-lg{
        max-width: 1009px !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .swiper_content {
        position: absolute;
        top: 47px;
        left: 100px
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .swiper_content {
       left: 85px;
       top: 61px;
    }
}
@media only screen and (max-width: 767px) {
    .m-logo {
        max-width: 196px;
    }
    .m-logo span {
        font-size: 20px;
    }
    .m-logo span:nth-child(2) {
       font-size: 11px;
        
    }
    .cm-logo {
        max-width: 173px;
        float: right;
        position: relative;
        top: 16px;
        right: 8px;
    }
    .cm-text span {
        font-size: 10px;
        color: #000000bd;
    }
    .cm-text h5.ant-typography{
  
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 15px;
        line-height: 15.4px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(255 255 255 / 55%);
    border-color: rgb(225 225 225 / 51%);
    }
    .navbar {
        padding: 8px 0;
    }
    .navbar-toggler {
        padding: 0.25rem 0.4rem;
        font-size: 20px;
    }
    .navbar-toggler-icon{
        filter: invert(1);
        width: 1.2em;
    height: 1.2em;
    }
    .top-header-area {
        
        text-align: center;
    }
    .header-content-right {
        float: none; 
        display: flex;
    flex-direction: column;
    }
    .swiper_content {
        left: 25px;
        top: 16px;
    }
    .swiper_content .lg-heading{
        font-size: 20px;
    }
    .swiper_content .trending{
        font-size: 15px;
    }
    .swiper_content .home-slider-title{
        margin-bottom: 0.7rem!important;
    }
    .about_section{
        margin-top: 150px;
        padding-top: 20px;
    
    }
    .slider-bottom-bar .kam-topbar-left .sm-btm-right{
        /* background-color: #172c3d; */
        padding: 20px 16px 10px 30px;
        margin-left: -38px;
        margin-top: 0;
        margin-bottom: 0 !important;
        justify-content: flex-start !important;
    }
    .slider-bottom-bar .kam-topbar-left .sm-btm-right>li{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .marquee-box {
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .desk-image {
        right: 117px;
        top: -110px;
    }
    .desk-image>div {
        
        height: 120px;
        width: 120px;
        
    }
    .news-status {
        
        top: -95px;
        
    }
    .pop-section {
        background-image: url('https://res.cloudinary.com/depg2aab2/image/upload/v1665934298/vp/nagoa/pop1-min_oeutdx.jpg');

    }
    
    .pop-content {
        position: relative;
        top: 12px;
    }
    .pop-content .lead{
        line-height: 1.3;
        font-size: 16px;
    }
    .pop-content .counter {
        margin-bottom: 0;
    }
    .image-container{
        display: none;
    }
    .facility-tab .faci-card{
        margin-bottom: 10px;
    }
    .ant-tabs-tab{
        padding: 6px 27px 6px 6px !important;
    }
    .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0px 0px 0px;
    }
    .scheme-area .scheme-content>.btn-arrow .anticon {
        font-size: 18px;
    }
    .scheme-area .scheme-content>.btn-arrow .ant-btn-text {
        
        height: 32px;
        
    }
    .scheme-area .scheme-content>.btn-arrow .btn-prev{
        padding: 4px 9px;
    }
    /**Certificate page*/
    .image-container1{
        display: none;
    }
    .page-head{
        background-image: url('https://res.cloudinary.com/depg2aab2/image/upload/v1665985128/vp/nagoa/bd-min_koxbil.jpg');
        background-position: center;
        background-size: cover;
    }
    .about-us-tab .sub-tab .ant-tabs-tab-btn:after {
        content: "\f107";
        font-family: FontAwesome;
        font-weight: normal;
        padding-right: 10px;
        font-weight: normal;
        right: 0px;
        position: absolute;
    }

}
@media only screen and (max-width: 575px) {
    .swiper_content {
        left: 25px;
        top: 16px;
    }
    .slide-btn .anticon {
        font-size: 40px;
    }
  }
/**end-responsive*/